{{#each savedArticles}}
<div class="saved-container id={{id}}">
  <div class="row saved-article">
    <div class="saved-card">
      <div class="saved-img col-5">
        <img class="blog-img" src={{image}}>
      </div>
      <div class="title col-7">
        <div class="saved-title"><a href="{{link}}">{{title}}</a></div>
      </div>
      <button class="far fa-comment-dots btn add-comment" value={{id}} style="font-size: 40px;"></button>
    </div>
  </div>
  <div class="row comment-form {{id}}">
    <form>
      <input type="comment-title my-2" class="form-control ct-{{id}}" placeholder="Enter title of your comment"></input>
      <textarea class="form-control my-2 cb-{{id}}" style="min-width: 100%"
        placeholder="Enter your comment about the article"></textarea>
      <button value="{{id}}" class="btn btn-secondary btn-sm btn-block save-comment" id="save-comment">Save</button>
    </form>
  </div>
</div>
{{!-- <div class="row border border-info p-3 mt-4" id={{id}}>
  <div class="art-block">
    <div class="article-title block">{{title}}</div>
    <div class="article-url block">{{link}}</div>
  </div>
  <div>
    <button class="far fa-comment-dots btn float-right add-comment" value={{id}} style="font-size: 48px;"></button>
  </div>
</div>
<form class="comment-form {{id}}">
  <input type="comment-title" class="form-control ct-{{id}}" placeholder="Enter title of your comment"></input>
  <textarea class="form-control cb-{{id}}" style="min-width: 100%"
    placeholder="Enter your comment about the article"></textarea>
  <button value="{{id}}" class="btn btn-primary save-comment" id="save-comment">Save</button>
</form> --}}



<div class="{{id}}">
  {{#each comments}}
  <div class="bubble" id="cb-{{id}}">

    <div class="card-header">
      <div class="comment-date">{{createdOn}}</div>
      <button class="del_rec far fa-trash-alt {{id}} float-right" value="{{id}}"></button>
    </div>
    <div class="comment-content">
      <h5>
        {{title}}
      </h5>
      <div>
        {{body}}
      </div>
    </div>
  </div>

  {{/each}}

</div>


{{/each}}
