{{#each savedArticles}}
<div class="saved-container id={{id}}">
  <div class="row saved-article">

    <div class="row saved-card">
      <div class="saved-img col-sm-12 col-md-5">
        <img class="blog-img" src={{image}}>
      </div>
      <div class="title col-sm-12 col-md-7">
        <div class="saved-title"><a href="{{link}}">{{title}}</a></div>
      </div>
    </div>
      <i class="del_art fas fa-times {{id}}" value="{{id}}"></i>
      <i class="far fa-comment-dots add-comment" value={{id}}></i>
  </div>
  <div class="row comment-form {{id}}">
    <form>
      <input type="comment-title my-2" class="form-control ct-{{id}}" placeholder="Enter title of your comment"></input>
      <textarea class="form-control my-2 cb-{{id}}" style="min-width: 100%"
        placeholder="Enter your comment about the article"></textarea>
      <button value="{{id}}" class="btn btn-secondary btn-sm btn-block save-comment" id="save-comment">Save</button>
    </form>
  </div>
</div>


<div class="{{id}}">
  {{#each comments}}
  <div class="bubble" id="cb-{{id}}">

    <div class="card-header">
      <div class="comment-date">{{moment createdOn format="dddd, MMMM Do YYYY, h:mm a"}}</div>
      <i class="del_rec fas fa-times {{id}} float-right" value="{{id}}"></i>
    </div>
    <div class="comment-content">
      <h5>
        {{title}}
      </h5>
      <div>
        {{body}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
